APP_NAME=laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8080

LOG_CHANNEL=stack
LOG_LEVEL=debug

# Default DB
DB_CONNECTION=user_db

# User DB
DB_USER_HOST=nginx-db
DB_USER_PORT=15432
DB_USER_DATABASE=user_db
DB_USER_USERNAME=
DB_USER_PASSWORD=

# Product DB Primary
DB_PRODUCT_HOST=nginx-db
DB_PRODUCT_PORT=15433
DB_PRODUCT_DATABASE=product_db
DB_PRODUCT_USERNAME=
DB_PRODUCT_PASSWORD=

# Product DB Replica
DB_PRODUCT_REPLICA_HOST=nginx-db
DB_PRODUCT_REPLICA_PORT=15434
DB_PRODUCT_REPLICA_DATABASE=product_db
DB_PRODUCT_REPLICA_USERNAME=
DB_PRODUCT_REPLICA_PASSWORD=

# Transaction DB
DB_TRANSACTION_HOST=nginx-db
DB_TRANSACTION_PORT=15435
DB_TRANSACTION_DATABASE=transaction_db
DB_TRANSACTION_USERNAME=
DB_TRANSACTION_PASSWORD=

# Redis via Nginx Stream
REDIS_CLIENT=predis
REDIS_HOST=nginx-db
REDIS_PASSWORD=null
REDIS_PORT=16379

# MongoDB via Nginx Stream
MONGODB_HOST=nginx-db
MONGODB_PORT=17017
MONGODB_DATABASE=ecommerce_logs
MONGODB_USERNAME=
MONGODB_PASSWORD=
MONGODB_AUTH_DATABASE=

CACHE_STORE=redis
QUEUE_CONNECTION=database
SESSION_DRIVER=file